/*my first CSS*/

html{
    box-sizing:border-box;
}
*,*:before, *:after {
    box-sizing:inherit;
}
body:not[nav]{
    font-family:'Lato',cursive;
    font-size:1.2rem;
    background-color:white;
    letter-spacing: 0;
    color:teal; 
    width:80%;
    margin:0 auto;
}
h1{
    color: white;
    border-top:10px double white;
   border-bottom:10px double white; 
   text-align: center;
   font-size:5rem;
    letter-spacing: 4mm;
    font-style:normal;
    font-family:'Lato', sans-serif;
   padding: 10mm;
    background-color:tomato;
   margin:3rem auto;
   width:90%;
   text-size-adjust:100%;
}

h2{
   color:tomato;
   font-family:'Lato';
   text-align: center;
   font-size:4rem;
   letter-spacing: 4mm;
   font-style:normal;
   padding-left: 6mm;
   padding-right:6mm;
   background-color:teal;
   margin:5rem auto;
   width:75%;
  
}
h3{
    font-family:'Lato';
    text-align:center;
    color:tomato;
    font-size:1.3rem;
    font-weight: bold;
}
p,[for="abtype"],[for="comments"]{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: bold;
    text-align: center;  
    font-size:1.5rem;
    
 }

a:link{
    text-decoration:none;
    color:tomato;
 }
 a:visited{
    color:violet
 }
 a:hover{
    color:white;
    font-size:2rem;
    background-color:teal;
 }

 img{
    border-radius:10px; 
 }
 
 blockquote{
    font-size: 3rem;
    color:palegoldenrod;
    text-align: center;
    /*background-position-x: center;
    background: black url("space.jpg")repeat top;
    background-size:1000px;*/

    border-top:20px white double;
    border-bottom:20px white double;
    background:tomato;
    padding:3rem;
    width:100%;
    margin: 0 auto;
 }

 cite{
    font-size: 1rem;
    color:fuchsia;
 }
 .bigbold{
    font-weight:bold;
    font-size:1.5rem;
    text-align: center;
    color:#356B8C;
 }
 .list
 {
    text-align:left;
    line-height:10mm;
    margin-right:3rem;
    margin-left:3rem;
    padding:1rem;
    font-family:'Lato',cursive;
    font-size:2rem;
 }

 #myid{
     color:white;
    
 }

  nav{
    
    font-family:'Lato',sans-serif;
    background:white;
    font-weight:bold;
    font-size:2rem;
    font-variant-caps: all-small-caps;
    border-top: 2px solid #40e0d0; 
    border-bottom:2px solid #40e0d0; 
    padding:1rem 0;
    margin: 1rem 0;

    
  }
  nav ul { /*just unordered list IN a nav tag! this is a descentdent selector. all ul descendent from nav.*/
    list-style-type:none;
    /*background-image:url(space.jpg) ;
    background-size:100%;
    position:relative;*/
    text-align:center; 
    display: inline-block; 
    width:100%; 
    padding:0;
    margin:0;

  }
  
  nav a{
    text-decoration:none;    
    padding: 0rem 1rem;
    display: inline; 
    margin:0rem;
  
  }
  
  nav li {
    padding:0rem; 
    margin: 0rem; 
    vertical-align: middle;
    text-align: center;
   display:inline-block; 
    
  }


  .floatleft{
    float:left;
    margin:0rem 1rem 1rem 1rem; 
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
     
  .wrapper {
      width: 90%;
      margin: 0 auto;
      padding: 0rem;
      display:flex;
      flex-flow: row nowrap;
      border:0px solid yellow;
      font-family:Arial, Helvetica, sans-serif;
}
     section {
      flex-basis: 75%;
      margin:0 auto;
      border:black 0pt solid;
      padding:0rem;
  }
  aside {
      padding:2rem 1rem; 
      margin-right:1rem; 
      margin-top:3rem;
      background-color:mistyrose;
      flex-basis: 25%;
      border:black 0pt solid;
      line-height:20pt;
      text-align:center;
  }

  address{
      padding-bottom:1rem;
  }

  
  fieldset{
  
      padding:2rem;
      margin:2rem auto;
      border-right:2px solid tomato; 
    border-left:2px solid tomato;
    border-top:none;
    border-bottom:none;
  
  }
  
  legend{
      text-align:center;
      font-weight:bold; 
      font-size:2rem; 
      color:black;
      display:block;
font-variant-caps: all-small-caps;  }
  
  legend:hover{
      font-size:3rem;
      color:black;
  }
  
  label, select{
      border:dotted green 0pt; 
      margin-bottom:0.5rem;
      display:block;
  }
  
  
  option,select,option,textarea,input:not([type="radio"]):not([type="checkbox"]){
      border:solid pink 2pt; 
      border-radius:10px;
      display:block;
      margin-bottom:2rem; 
      width:80%; 
      padding:0.5rem;
      background-color:midnightblue;
      color:white; 
      font-family:Arial, Helvetica, sans-serif;
      letter-spacing: 1mm;
      font-size:1rem;
  }
  
  textarea{
      height:10rem;
      padding:1rem; 
  }
  
  [for="abtype"]{
      padding-top:2rem;
  }
  button{
      font-size:1.5rem; 
      font-family:'Lato';
      font-weight: bold;
      margin:2rem auto;
      background-color:teal; 
      border:none;
      color:white;
      border-radius:10px;
      padding:1rem;
      font-variant-caps: all-small-caps;
      
  }
  
  button:hover{
      background-color:tomato;
      color:black; 
      font-weight:bold;
  }  